body {
  font-family: sans-serif;
  margin: 3em;
  padding: 0;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  
}

#result:after {

	content: "";
	width: 22px;
	height: 22px;
	background-size: 100%;
	opacity: 0;
	display: block;

}

#result.you-did-it:after {
	transition: opacity 4s ease;
	opacity: 1;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Smiley.svg/2000px-Smiley.svg.png");
}